<!DOCTYPE html>
<html>
<head>
    <title>QUnit Test Suite</title>
</head>
<body>
    <h1 id="qunit-header">QUnit Test Suite</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
</body>
<%= script_tag @qunit_file %>
<%= script_tag @yaml_js_file %>

<script type="text/javascript" charset="utf-8">
	QUnited = {};
	// Various state we'll need while running the tests
	QUnited.modulesMap = {};
	QUnited.currentTestFile = null; // Set when loading files, see below
	var currentModule, currentTest;

	///// Listen for QUnit events during tests

	QUnit.testStart(function(data) {
		currentTest = {
			name: data.name,
			assertion_data: [], // Ruby-style, since we'll be reading it with Ruby
			start: new Date(),
			assertions: 0,
			file: QUnited.currentTestFile
		};

		var moduleName = data.module || "(no module)",
				module = QUnited.modulesMap[moduleName];
		if (!module) {
			module = {name: moduleName, tests: []};
			QUnited.modulesMap[moduleName] = module;
		}
		module.tests.push(currentTest);
	});

	QUnit.testDone(function(data) {
		currentTest.duration = ((new Date()).getTime() - currentTest.start.getTime()) / 1000;
		currentTest.failed = data.failed;
		currentTest.total = data.total;
	});

	/*
	 * Called on every assertion AND whenever we have an expect(num) fail. You cannot tell this
	 * apart from an assertion (even though you could make a good guess) with certainty so just
	 * don't worry about it as it will only throw assertions count off on a failing test.
	 */
	QUnit.log(function(data) {
		currentTest.assertions++;
		currentTest.assertion_data.push(data);
	});
</script>

<% source_files.each do |source_file| %>
	<%= script_tag source_file %>
<% end %>
<% test_files.each do |test_file| %>
	<%= script_tag test_file %>
<% end %>
</html>
